@import url('https://fonts.googleapis.com/css?family=Jua|Nanum+Pen+Script&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap&subset=latin-ext');
@import "reset.css";

body,html {
    font-family: 'Quicksand', sans-serif;
}

.js-clock {
    font-size: 60px;
    font-family: fantasy;
    color: white;
    width: 350px;
    height: 100px;
    padding-left: 20px;
    text-align: left;
    margin-top: 20%;
    margin-left: 40px;
}
/*여기까지 clock*/

.bg-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 100%;
    background-color: black;
    border: none;
    opacity: 0.5;
    z-index: -1;
}
.bg-container {
    width: 450px;
    height: 100%;
    display: grid;  
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 0;
    right: 0;
}

.box {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
label {
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.form {
    display: none;
    margin-bottom: 30px;
        
}

.form-input[type=text],
.todo-input[type=text] {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    color: white;
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 30px;
    text-align: center;
}

.greetings {
    display: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 91px;
}

.showing {
    display: block;
}

.del-btn {
    outline: none;
    border-radius: 5px;
    background-color: rgb(161, 161, 161);
    border: none;
    opacity: 0.7;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 10px;   
}


.todolist {
    text-align: end;
    color: white;
    font-size: 20px;
}

.todolist li {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.todolist input {
    margin-right: 15px;
}

.textcheck {
    text-decoration: line-through;
}

/*여기까지 gretting*/


@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/*여기까지 background*/

.weather {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: fantasy;
    font-size: 15px;
}